 @import "tailwindcss";

 /* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner[type='number'] {
  -moz-appearance: textfield;
}
